/* common shared style */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;

}

.primary-colour {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: Open Sans;
    text-align: center;
    padding: 18px 36px;
    border-radius: 5px;
    width: 200px;
    height: 64px;

}

/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 400;

}

/* Header related style */
.header {
    background-color: white;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;


}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.banner-content {}

.profile-pic {
    display: flex;
    justify-content: center;
    width: 584px;
    height: 676px;
    margin: auto;
    align-items: center;

}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    line-height: normal;


}

.banner-discription {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;
}

/* main section style */
main {
    margin: 0 auto;
    max-width: 1140px;



}

/* about section style */
.about {
    padding: 125px;

    align-items: center;
    margin-top: 50px;
}

.section-title {
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 0px 48px 0px;
    text-align: center;
    font-family: Open Sans;

}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 827px;
    padding: 0px 0px 30px 0px;


}

.about-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 827px;

}

.about-info {}

.about-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    width: 100%;
    text-align: center;
}

.about-description {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #474747;
    width: 100%;
    text-align: center;
}

.what-i-do {

    padding: 0px 125px;
    align-items: center;
    margin-top: 50px;
}

#i-do-description {
    width: 909px;
}

.i-do-container {

    width: 100%;
    margin: auto;
    padding: 30px;


}

.i-do-icon {
    margin-top: 50px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.i-do-contenet {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.icon-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.icon-description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 201px;
    margin-top: 20px;
}

/* My resume section */
.my-resume {

    align-items: center;
    margin-top: 120px;
}

#resume-sec-title {
    margin-bottom: 100px;
}

.my-resume-content {
    display: flex;
    justify-content: space-between;

}

.my-education {
    margin-right: 71px;

}

.main-title {
    padding: 0px 0px 40px 0px;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.subtitle {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;

}

.description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: width: 511px;
    padding: 20px 0px 30px 0px;

}

#cv-btn {
    padding: 50px 423px;
}