/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.primary-colour {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    flex-shrink: 0;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 400;

}

/* Header related style */
.header {
    background-color: white;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 585px;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 5px;
}

.banner-discription {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;
}

/* main section style */

/* about section style */
.about{
    margin: 130px 230px 130px 230px ;
    display: inline-blockgit;
    align-items: center;
    justify-content: space-between;
}
.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */   
    width: 827px;
    
    
}